<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description">
    <meta name="author" >
    <title>Ajouter une vidéotèque</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
  <body>
<!-- Navbar -->
<div class="container">
    <div class="header clearfix">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Grégory Video Library</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <!-- choix vidéothèques -->
              <div class="container">
                <div class="container">  
                  <div class="col-md-8 offset-md-2">
                    <button class="btn btn-outline-success my-2 my-sm-0" onclick="window.location.href='http://10.11.5.97:8000';">Retour aux choix des vidéothèques</button>
                  </div>
                </div>
              </div>
            </li>
          </ul>
      </div>
    </nav>
  </div>
<!-- formulaire d'ajout-->
<div class="container">
    <div class="container">
        <p>Saisir les informations de la vidéothèque :</p>
        <form action="addVideothequeValidate" method="post">
            <label for="title">Nom de la vidéothèque:</label>
            <input type="text" id="title" name="title"><br>
            <p>Propriétaire :</p>
            <label for="propN">Nom:</label>
            <input type="text" id="propN" name="propN"><br>
            <label for="propP">Prénom:</label>
            <input type="text" id="propP" name="propP"><br>
            <p>Informations de connexion :</p>
            <label for="login">Login :</label>
            <input type="text" id="login" name="login"><br>
            <label for="password">Password:</label>
            <input type="text" id="password" name="password"><br>
            <button class="btn btn-primary" type="submit" style="color:white;background-color: green;">Creer la vidéothèque</button> 
          </form>
    </div>             
</div>
<br><br><br>    
<!-- Footer -->
    <div class="container">
      <footer class="footer">
        <p>© Gregory 2022<br></p>
      </footer>

    </div>
<!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<!-- Custom JS-->
    <script>
      
    </script>
  </body>
</html>